.title {
  padding: 2em 0;
}
.title .story_name,
.title .author {
  text-align: center !important;
  line-height: 1.2;
  font-family: "Quando (embedded)", serif;
}
.title .story_name {
  font-size: 2.5em;
  margin-right: 5px;
  letter-spacing: 0.05em;
}
.title .author {
  font-size: 1em;
  padding-top: 1em;
}
.title .author a {
  /*font-weight: bold;*/
}

#copyrightpage p {
  text-align: center !important;
}
